.results-div {
  background: #FFFFFF;
  position: relative;
  top: 150px;
  border: solid 1px;
  padding: 20px;
}

.main-forecast {
  font-weight: 400;
  font-size: 20px;
}

.sub-forecast {
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
  margin-top: 25px;
}
