.app-header {
  text-align: center;
  font-weight: 100;
  font-size: 70px;
}

@media only screen and (max-width: 768px) {
  .app-header {
    font-size: 60px;
  }
}

.app-header:hover {
  color: #FFFFFF;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 30px #E60073, 0 0 40px #E60073, 0 0 50px #E60073, 0 0 60px #E60073, 0 0 70px #E60073;
  }

  to {
    text-shadow: 0 0 20px #FFFFFF, 0 0 30px #FF4DA6, 0 0 40px #FF4DA6, 0 0 50px #FF4DA6, 0 0 60px #FF4DA6, 0 0 70px #FF4DA6, 0 0 80px #FF4DA6;
  }
}
